
    body{
    background-color:blue;
        }

            h1{ 
                font-style:italic
                ;
            }
            p{
                font-family:"Times New Roman";            
}

